/*variables*/
/*default button colors*/
/*mixins*/
/*pixelass post ;)*/
/*css-tricks.com/snippets/css/useful-css3-less-mixins/*/
/*keyframes*/
@-webkit-keyframes youtubeanimation {
  from {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateY(100%) rotateX(90deg);
    -moz-transform: translateY(100%) rotateX(90deg);
    -ms-transform: translateY(100%) rotateX(90deg);
    -o-transform: translateY(100%) rotateX(90deg);
    transform: translateY(100%) rotateX(90deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  to {
    -webkit-transform: translateY(0%) rotateX(0deg);
    -moz-transform: translateY(0%) rotateX(0deg);
    -ms-transform: translateY(0%) rotateX(0deg);
    -o-transform: translateY(0%) rotateX(0deg);
    transform: translateY(0%) rotateX(0deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
}
@-moz-keyframes youtubeanimation {
  from {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateY(100%) rotateX(90deg);
    -moz-transform: translateY(100%) rotateX(90deg);
    -ms-transform: translateY(100%) rotateX(90deg);
    -o-transform: translateY(100%) rotateX(90deg);
    transform: translateY(100%) rotateX(90deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  to {
    -webkit-transform: translateY(0%) rotateX(0deg);
    -moz-transform: translateY(0%) rotateX(0deg);
    -ms-transform: translateY(0%) rotateX(0deg);
    -o-transform: translateY(0%) rotateX(0deg);
    transform: translateY(0%) rotateX(0deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
}
@keyframes youtubeanimation {
  from {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateY(100%) rotateX(90deg);
    -moz-transform: translateY(100%) rotateX(90deg);
    -ms-transform: translateY(100%) rotateX(90deg);
    -o-transform: translateY(100%) rotateX(90deg);
    transform: translateY(100%) rotateX(90deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  to {
    -webkit-transform: translateY(0%) rotateX(0deg);
    -moz-transform: translateY(0%) rotateX(0deg);
    -ms-transform: translateY(0%) rotateX(0deg);
    -o-transform: translateY(0%) rotateX(0deg);
    transform: translateY(0%) rotateX(0deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
}
@-webkit-keyframes facebookanimation {
  from {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -ms-transform: translateX(20%);
    -o-transform: translateX(20%);
    transform: translateX(20%);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -ms-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  }
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
}
@-moz-keyframes facebookanimation {
  from {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -ms-transform: translateX(20%);
    -o-transform: translateX(20%);
    transform: translateX(20%);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -ms-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  }
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
}
@keyframes facebookanimation {
  from {
    -webkit-transform: translateX(20%);
    -moz-transform: translateX(20%);
    -ms-transform: translateX(20%);
    -o-transform: translateX(20%);
    transform: translateX(20%);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -ms-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  }
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
}
@-webkit-keyframes twitteranimation {
  from {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-70deg);
    -moz-transform: rotateX(-70deg);
    -ms-transform: rotateX(-70deg);
    -o-transform: rotateX(-70deg);
    transform: rotateX(-70deg);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  to {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
}
@-moz-keyframes twitteranimation {
  from {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-70deg);
    -moz-transform: rotateX(-70deg);
    -ms-transform: rotateX(-70deg);
    -o-transform: rotateX(-70deg);
    transform: rotateX(-70deg);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  to {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
}
@keyframes twitteranimation {
  from {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-70deg);
    -moz-transform: rotateX(-70deg);
    -ms-transform: rotateX(-70deg);
    -o-transform: rotateX(-70deg);
    transform: rotateX(-70deg);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  to {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
}
@-webkit-keyframes googleplusanimation {
  from {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
}
@-moz-keyframes googleplusanimation {
  from {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
}
@keyframes googleplusanimation {
  from {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
}
@-webkit-keyframes instagramanimation {
  from {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate(30%) translateZ(600px) rotate(10deg);
    -moz-transform: translate(30%) translateZ(600px) rotate(10deg);
    -ms-transform: translate(30%) translateZ(600px) rotate(10deg);
    -o-transform: translate(30%) translateZ(600px) rotate(10deg);
    transform: translate(30%) translateZ(600px) rotate(10deg);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0%) translateZ(0) rotate(0deg);
    -moz-transform: translate(0%) translateZ(0) rotate(0deg);
    -ms-transform: translate(0%) translateZ(0) rotate(0deg);
    -o-transform: translate(0%) translateZ(0) rotate(0deg);
    transform: translate(0%) translateZ(0) rotate(0deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
}
@-moz-keyframes instagramanimation {
  from {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate(30%) translateZ(600px) rotate(10deg);
    -moz-transform: translate(30%) translateZ(600px) rotate(10deg);
    -ms-transform: translate(30%) translateZ(600px) rotate(10deg);
    -o-transform: translate(30%) translateZ(600px) rotate(10deg);
    transform: translate(30%) translateZ(600px) rotate(10deg);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0%) translateZ(0) rotate(0deg);
    -moz-transform: translate(0%) translateZ(0) rotate(0deg);
    -ms-transform: translate(0%) translateZ(0) rotate(0deg);
    -o-transform: translate(0%) translateZ(0) rotate(0deg);
    transform: translate(0%) translateZ(0) rotate(0deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
}
@keyframes instagramanimation {
  from {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate(30%) translateZ(600px) rotate(10deg);
    -moz-transform: translate(30%) translateZ(600px) rotate(10deg);
    -ms-transform: translate(30%) translateZ(600px) rotate(10deg);
    -o-transform: translate(30%) translateZ(600px) rotate(10deg);
    transform: translate(30%) translateZ(600px) rotate(10deg);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0%) translateZ(0) rotate(0deg);
    -moz-transform: translate(0%) translateZ(0) rotate(0deg);
    -ms-transform: translate(0%) translateZ(0) rotate(0deg);
    -o-transform: translate(0%) translateZ(0) rotate(0deg);
    transform: translate(0%) translateZ(0) rotate(0deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
}
@-webkit-keyframes vimeoanimation {
  from {
    -webkit-transform: scale(0) rotate(720deg);
    -moz-transform: scale(0) rotate(720deg);
    -ms-transform: scale(0) rotate(720deg);
    -o-transform: scale(0) rotate(720deg);
    transform: scale(0) rotate(720deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
}
@-moz-keyframes vimeoanimation {
  from {
    -webkit-transform: scale(0) rotate(720deg);
    -moz-transform: scale(0) rotate(720deg);
    -ms-transform: scale(0) rotate(720deg);
    -o-transform: scale(0) rotate(720deg);
    transform: scale(0) rotate(720deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
}
@keyframes vimeoanimation {
  from {
    -webkit-transform: scale(0) rotate(720deg);
    -moz-transform: scale(0) rotate(720deg);
    -ms-transform: scale(0) rotate(720deg);
    -o-transform: scale(0) rotate(720deg);
    transform: scale(0) rotate(720deg);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
  }
}
@-webkit-keyframes opacity-appear-animation {
  from {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
  to {
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    -ms-opacity: 0.4;
    -o-opacity: 0.4;
    opacity: 0.4;
  }
}
@-moz-keyframes opacity-appear-animation {
  from {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
  to {
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    -ms-opacity: 0.4;
    -o-opacity: 0.4;
    opacity: 0.4;
  }
}
@keyframes opacity-appear-animation {
  from {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
  to {
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    -ms-opacity: 0.4;
    -o-opacity: 0.4;
    opacity: 0.4;
  }
}
@-webkit-keyframes opacity-disappear-animation {
  from {
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    -ms-opacity: 0.4;
    -o-opacity: 0.4;
    opacity: 0.4;
    visibility: visible;
  }
  to {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
}
@-moz-keyframes opacity-disappear-animation {
  from {
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    -ms-opacity: 0.4;
    -o-opacity: 0.4;
    opacity: 0.4;
    visibility: visible;
  }
  to {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
}
@keyframes opacity-disappear-animation {
  from {
    -webkit-opacity: 0.4;
    -moz-opacity: 0.4;
    -ms-opacity: 0.4;
    -o-opacity: 0.4;
    opacity: 0.4;
    visibility: visible;
  }
  to {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
  }
}
/*reset to projects default*/
* {
  margin: 0;
  padding: 0;
}
a {
  outline: 0;
  text-decoration: none;
}
li {
  list-style: none;
}
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format('eot'), url("../fonts/fontawesome-webfont.woff") format('woff'), url("../fonts/fontawesome-webfont.ttf") format('truetype'), url("../fonts/fontawesome-webfont.svg#FontAwesome") format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa-stop:before {
  content: "\f04d";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-facebook:before {
  content: "\f082";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-googleplus:before {
  content: "\f0d5";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-vimeo:before {
  content: "\f194";
}
.fa-close:before {
  content: "\f057";
}
body {
  font-family: "FontAwesome";
  background-color: #309ac0;
}
/*navigation*/
div.close {
  float: right;
}
div.close a {
  content: "\f057";
}
div.close a.active,
div.close a:hover {
  color: #e5e5e5;
}
nav {
  background-color: #222222;
  padding: 10px;
}
nav li {
  display: inline;
  margin: 0 10px;
}
nav li a {
  color: #999999;
}
nav li a span {
  margin: 0 0 0 5px;
}
nav li span {
  font-family: verdana, sans-serif;
}
nav li a.fa-youtube.active,
nav li a.fa-youtube:hover {
  text-shadow: 0 0 10px #ff0000;
}
nav li a.fa-facebook.active,
nav li a.fa-facebook:hover {
  text-shadow: 0 0 10px #0000ff;
}
nav li a.fa-twitter.active,
nav li a.fa-twitter:hover {
  text-shadow: 0 0 10px #00ffff;
}
nav li a.fa-googleplus.active,
nav li a.fa-googleplus:hover {
  text-shadow: 0 0 10px #ff6347;
}
nav li a.fa-instagram.active,
nav li a.fa-instagram:hover {
  text-shadow: 0 0 10px #a52a2a;
}
nav li a.fa-vimeo.active,
nav li a.fa-vimeo:hover {
  text-shadow: 0 0 10px #40e0d0;
}
nav li a._active,
nav li a:hover {
  color: #e5e5e5;
}
nav li a._active span,
nav li a:hover span {
  text-shadow: 0 0 10px #e5e5e5;
}
/*modal windows*/
.window {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 80%;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-40%);
  -moz-transform: translateX(-50%) translateY(-40%);
  -ms-transform: translateX(-50%) translateY(-40%);
  -o-transform: translateX(-50%) translateY(-40%);
  transform: translateX(-50%) translateY(-40%);
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  -o-perspective: 1300px;
  perspective: 1300px;
}
.window .content {
  padding: 10px;
  position: relative;
  background-color: #222222;
}
.window .content a {
  color: #999999;
}
.window .content h3 {
  font-family: verdana, sans-serif;
  color: #999999;
  margin: 0 0 10px 0;
}
.window .content p {
  font-family: verdana, sans-serif;
  background: #d1d1d1;
  padding: 5px;
}
.window .content.show-youtube {
  -webkit-animation: youtubeanimation 300ms 0 ease;
  -moz-animation: youtubeanimation 300ms 0 ease;
  -ms-animation: youtubeanimation 300ms 0 ease;
  -o-animation: youtubeanimation 300ms 0 ease;
  animation: youtubeanimation 300ms 0 ease;
}
.window .content.show-facebook {
  -webkit-animation: facebookanimation 300ms 0 ease;
  -moz-animation: facebookanimation 300ms 0 ease;
  -ms-animation: facebookanimation 300ms 0 ease;
  -o-animation: facebookanimation 300ms 0 ease;
  animation: facebookanimation 300ms 0 ease;
}
.window .content.show-twitter {
  -webkit-animation: twitteranimation 300ms 0 ease;
  -moz-animation: twitteranimation 300ms 0 ease;
  -ms-animation: twitteranimation 300ms 0 ease;
  -o-animation: twitteranimation 300ms 0 ease;
  animation: twitteranimation 300ms 0 ease;
}
.window .content.show-googleplus {
  -webkit-animation: googleplusanimation 300ms 0 ease;
  -moz-animation: googleplusanimation 300ms 0 ease;
  -ms-animation: googleplusanimation 300ms 0 ease;
  -o-animation: googleplusanimation 300ms 0 ease;
  animation: googleplusanimation 300ms 0 ease;
}
.window .content.show-instagram {
  -webkit-animation: instagramanimation 300ms 0 ease;
  -moz-animation: instagramanimation 300ms 0 ease;
  -ms-animation: instagramanimation 300ms 0 ease;
  -o-animation: instagramanimation 300ms 0 ease;
  animation: instagramanimation 300ms 0 ease;
}
.window .content.show-vimeo {
  -webkit-animation: vimeoanimation 300ms 0 ease;
  -moz-animation: vimeoanimation 300ms 0 ease;
  -ms-animation: vimeoanimation 300ms 0 ease;
  -o-animation: vimeoanimation 300ms 0 ease;
  animation: vimeoanimation 300ms 0 ease;
}
.window.appear {
  visibility: visible;
}
.bgshadow {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  -ms-opacity: 0.4;
  -o-opacity: 0.4;
  opacity: 0.4;
  visibility: hidden;
}
.bgshadow.appear {
  -webkit-animation: opacity-appear-animation 300ms 0 ease;
  -moz-animation: opacity-appear-animation 300ms 0 ease;
  -ms-animation: opacity-appear-animation 300ms 0 ease;
  -o-animation: opacity-appear-animation 300ms 0 ease;
  animation: opacity-appear-animation 300ms 0 ease;
  visibility: visible;
}
/*3d effect*/
.cube {
  width: 200px;
  height: 200px;
  position: fixed;
  margin: 50px;
  bottom: 0;
  right: 0;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  -ms-opacity: 0.4;
  -o-opacity: 0.4;
  opacity: 0.4;
  visibility: hidden;
}
.cube.appear {
  -webkit-animation: opacity-appear-animation 1s 0 ease;
  -moz-animation: opacity-appear-animation 1s 0 ease;
  -ms-animation: opacity-appear-animation 1s 0 ease;
  -o-animation: opacity-appear-animation 1s 0 ease;
  animation: opacity-appear-animation 1s 0 ease;
  visibility: visible;
}
.cube.disappear {
  -webkit-animation: opacity-disappear-animation 1s 0 ease;
  -moz-animation: opacity-disappear-animation 1s 0 ease;
  -ms-animation: opacity-disappear-animation 1s 0 ease;
  -o-animation: opacity-disappear-animation 1s 0 ease;
  animation: opacity-disappear-animation 1s 0 ease;
}
.cube div {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transition: -ms-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
}
.cube div figure {
  display: block;
  position: absolute;
  width: 198px;
  height: 198px;
  border: 1px solid #222222;
  line-height: 198px;
  font-size: 120px;
  color: #e5e5e5;
  text-align: center;
}
.cube div .front {
  background: rgba(255, 0, 0, 0.7);
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  -ms-transform: translateZ(100px);
  -o-transform: translateZ(100px);
  transform: translateZ(100px);
}
.cube div .back {
  background: rgba(0, 0, 255, 0.7);
  -webkit-transform: rotateX(-180deg) translateZ(100px);
  -moz-transform: rotateX(-180deg) translateZ(100px);
  -ms-transform: rotateX(-180deg) translateZ(100px);
  -o-transform: rotateX(-180deg) translateZ(100px);
  transform: rotateX(-180deg) translateZ(100px);
}
.cube div .right {
  background: rgba(0, 255, 255, 0.7);
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
  -ms-transform: rotateY(90deg) translateZ(100px);
  -o-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);
}
.cube div .left {
  background: rgba(255, 95, 66, 0.7);
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateZ(100px);
  -ms-transform: rotateY(-90deg) translateZ(100px);
  -o-transform: rotateY(-90deg) translateZ(100px);
  transform: rotateY(-90deg) translateZ(100px);
}
.cube div .top {
  background: rgba(162, 42, 42, 0.7);
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
  -ms-transform: rotateX(90deg) translateZ(100px);
  -o-transform: rotateX(90deg) translateZ(100px);
  transform: rotateX(90deg) translateZ(100px);
}
.cube div .bottom {
  background: rgba(62, 224, 207, 0.7);
  -webkit-transform: rotateX(-90deg) translateZ(100px);
  -moz-transform: rotateX(-90deg) translateZ(100px);
  -ms-transform: rotateX(-90deg) translateZ(100px);
  -o-transform: rotateX(-90deg) translateZ(100px);
  transform: rotateX(-90deg) translateZ(100px);
}
.cube div.panels-backface-invisible figure {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cube div.youtube {
  -webkit-transform: translateZ(-100px);
  -moz-transform: translateZ(-100px);
  -ms-transform: translateZ(-100px);
  -o-transform: translateZ(-100px);
  transform: translateZ(-100px);
}
.cube div.facebook {
  -webkit-transform: translateZ(-100px) rotateX(-180deg);
  -moz-transform: translateZ(-100px) rotateX(-180deg);
  -ms-transform: translateZ(-100px) rotateX(-180deg);
  -o-transform: translateZ(-100px) rotateX(-180deg);
  transform: translateZ(-100px) rotateX(-180deg);
}
.cube div.twitter {
  -webkit-transform: translateZ(-100px) rotateY(-90deg);
  -moz-transform: translateZ(-100px) rotateY(-90deg);
  -ms-transform: translateZ(-100px) rotateY(-90deg);
  -o-transform: translateZ(-100px) rotateY(-90deg);
  transform: translateZ(-100px) rotateY(-90deg);
}
.cube div.googleplus {
  -webkit-transform: translateZ(-100px) rotateY(90deg);
  -moz-transform: translateZ(-100px) rotateY(90deg);
  -ms-transform: translateZ(-100px) rotateY(90deg);
  -o-transform: translateZ(-100px) rotateY(90deg);
  transform: translateZ(-100px) rotateY(90deg);
}
.cube div.instagram {
  -webkit-transform: translateZ(-100px) rotateX(-90deg);
  -moz-transform: translateZ(-100px) rotateX(-90deg);
  -ms-transform: translateZ(-100px) rotateX(-90deg);
  -o-transform: translateZ(-100px) rotateX(-90deg);
  transform: translateZ(-100px) rotateX(-90deg);
}
.cube div.vimeo {
  -webkit-transform: translateZ(-100px) rotateX(90deg);
  -moz-transform: translateZ(-100px) rotateX(90deg);
  -ms-transform: translateZ(-100px) rotateX(90deg);
  -o-transform: translateZ(-100px) rotateX(90deg);
  transform: translateZ(-100px) rotateX(90deg);
}
/*responsive design*/
@media all and (max-width: 720px) {
  body {
    background: #79be6a;
  }
  nav {
    font-size: 1.55em;
    width: 1.6em;
    padding: 10px 5px 5px;
  }
  nav li {
    display: block;
    margin: 15px 10px;
  }
  nav li a span {
    display: none;
  }
  nav li:first-child {
    margin: 0 10px 30px 10px;
  }
  .window {
    top: 40%;
  }
}
@media all and (max-width: 32em) {
  .window {
    width: 50%;
    font-size: 75%;
  }
}
